<!DOCTYPE html>
<html>

<head>

</head>

<body>
<div class="div_table_radio_question" id="divquestion3">
    <div class="div_table_clear_top"></div>
    <ul class="ulradiocheck">
        <li style="width:99%;">
            <div style="float:left;width:50%;">
                <a href="javascript:" class="jqRadio" rel="q3_1">
                    <i class="iconfontNew">
                    </i>
                </a>
                <input style="display:none;" type="radio" name="q3" id="q3_1" value="1">
                <label for="q3_1">11111</label>
            </div>
            <div style="float:left;">
            </div>
            <div style="clear:both;">
            </div>
        </li>
        <li style="width:99%;">
            <div style="float:left;width:50%;">
                <a href="javascript:" class="jqRadio" rel="q3_2">
                    <i class="iconfontNew"></i>
                </a>
                <input style="display:none;" type="radio" name="q3" id="q3_2" value="2">
                <label for="q3_2">222222</label>
            </div>
            <div style="float:left;">
            </div>
            <div style="clear:both;">
            </div>
        </li>
        <div style="clear:both;">
        </div>
    </ul>
    <div style="clear:both;">
    </div>
    <div class="div_table_clear_bottom">
    </div>
</div>
</body>

</html>